@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 15px;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* Estilo para el header */
.header {
    background-color: transparent;
    /* Fondo semi-transparente */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
    position: fixed;
    /* Hace que se superponga */
    top: 0;
    /* Alinea el header a la parte superior de la página */
    left: 0;
    /* Asegura que se estire de lado a lado */
    width: 80%;
    /* Se estira a todo lo ancho */
    z-index: 10;
    /* Asegura que el header esté por encima de la portada */
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
    margin-left: -7%;
    align-items: center;
    display: flex;
    top: 20px
}

.header .logo img {
    height: 45px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.3);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover,
/**/
.overlay a:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-family: "Nunito", serif;
    font-size: 700;
    color: beige;
}

.header .nav-links a:hover {
    color: chocolate;
}

/**/
.menu {
    display: none;
}

.header .btn button,
/**/
.header .menu button {
    margin-left: 20px;
    font-family: "Nunito", serif;
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background: beige;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0;
}

.header .btn button:hover,
/**/
.header .menu button:hover {
    background-color: beige;
    color: chocolate;
    transform: scale(1.1);
}

/**/
@media screen and (max-width: 800px) {

    .nav-links,
    .btn {
        display: none;
    }

    .menu {
        display: inherit;
    }
}

/*Nav*/

.header a {
    text-decoration: none;
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
    overflow: hidden;
    transition: all 0.3s ease 0;
}

.header .overlay .overlay-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0;
    font-family: "Nunito", serif;
    font-weight: 700;
    color: beige;
}

.header .overlay a:hover,
.header .overlay a:focus {
    color: chocolate;
}

.header .overlay .close {
    position: absolute;
    top: 20px;
    width: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a {
        font-size: 20px;
    }

    .header .overlay .close {
        font-size: 40px;
        top: 15px;
        width: 35px;
    }
}

/*Portada*/

body {
    background-color: burlywood;
    min-width: 400px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Para evitar barras de desplazamiento horizontales */
}

.full-width {
    position: relative;
    width: 100%;
    height: auto;
    /* Cambia la altura a auto */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body .Portada {
    width: 100%;
    height: auto;
}

.LogoBig {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.article1 {
    background-color: black;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    font-family: "Nunito", serif;
}

.article1 h1 {
    color: beige;
    margin-bottom: 20px;
    margin-top: 20px;
}

.article1 p {
    color: beige;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

article {
    position: relative;
    width: 100%;
    /* Ajusta el tamaño según tus necesidades */
    background-color: black;
    /* Color de fondo del artículo */
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    /* Asegúrate de que el contenedor abarque toda la anchura necesaria */
}

.image-container::before,
.image-container::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    pointer-events: none;
}

.image-container::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.image-container::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.image-container img {
    display: block;
    width: 100%;
    /* Ajusta el tamaño de la imagen según tus necesidades */
}

/* carousel */
.carousel-container {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.carousel {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.slogan1 {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 1;
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
    opacity: 0.7;
    -webkit-text-stroke: 1px black;
}


.carousel img {
    position: absolute;
    left: 85%;
    top: 50%;
    width: auto;
    height: 650px;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out, filter 1s ease-in-out;
    transform: translate(-50%, 100%) scale(0.8);
    opacity: 0;
    filter: blur(5px);
}

.carousel img.horizontal {
    width: 500px;
    height: auto;
    top: 25%;
    opacity: 0;
}

/* Imagen activa (frontal) */
.carousel img.active {
    z-index: 2;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    filter: blur(0px);
}

.article2 {
    background-color: black;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    font-family: "Nunito", serif;
}

/*Responsive Config.*/
@media screen and (max-width: 678px) {

    .carousel img {
        position: absolute;
        left: 50%;
        top: 50%;
        max-width: 95vw;
        height: auto;
        object-fit: contain;
        border-radius: 15px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
        transition: transform 1s ease-in-out, opacity 1s ease-in-out, filter 1s ease-in-out;
        transform: translate(-50%, 150%) scale(0.8);
        filter: blur(5px);
    }

    .carousel img.horizontal {
        opacity: 1;
    }

    .carousel img.vertical {
        opacity: 1;

    }

    .LogoBig {
        position: relative;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        height: auto;
    }

    .carousel img.active {
        z-index: 2;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        filter: blur(0px);

    }

    .slogan1 {
        position: absolute;
        top: 190%;
        left: 10%;
        z-index: 1;
        font-size: 2.5em;
        font-weight: bold;
        line-height: 1.3em;
        opacity: 0.7;
        -webkit-text-stroke: 1px black;
    }

    .container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
}
}

/* carousel 2*/
.carousel2 {
    height: 100vh;
    margin-top: 0px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.carousel2 .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.carousel2 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel2 .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.carousel2 .list .item .author {
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel2 .list .item .title,
.carousel2 .list .item .topic {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}

.carousel2 .list .item .topic {
    color: #f1683a;
}

.carousel2 .list .item .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.carousel2 .list .item .buttons button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}

.carousel2 .list .item .buttons button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}

/* thumbail */
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-weight: 500;
}

.thumbnail .item .content .description {
    font-weight: 300;
}

/* arrows */
.arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}

.arrows button:hover {
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel2 .list .item:nth-child(1) {
    z-index: 1;
}

/* animation text in first item */

.carousel2 .list .item:nth-child(1) .content .author,
.carousel2 .list .item:nth-child(1) .content .title,
.carousel2 .list .item:nth-child(1) .content .topic,
.carousel2 .list .item:nth-child(1) .content .des,
.carousel2 .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.carousel2 .list .item:nth-child(1) .content .title {
    animation-delay: 1.2s !important;
}

.carousel2 .list .item:nth-child(1) .content .topic {
    animation-delay: 1.4s !important;
}

.carousel2 .list .item:nth-child(1) .content .des {
    animation-delay: 1.6s !important;
}

.carousel2 .list .item:nth-child(1) .content .buttons {
    animation-delay: 1.8s !important;
}

/* create animation when next click */
.carousel2.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel2.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel2.prev .list .item img {
    z-index: 100;
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

.carousel2.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

/* prev click */

.carousel2.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel2.prev .list .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel2.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.carousel2.next .arrows button,
.carousel2.prev .arrows button {
    pointer-events: none;
}

.carousel2.prev .list .item:nth-child(2) .content .author,
.carousel2.prev .list .item:nth-child(2) .content .title,
.carousel2.prev .list .item:nth-child(2) .content .topic,
.carousel2.prev .list .item:nth-child(2) .content .des,
.carousel2.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .carousel2 .list .item .content {
        padding-right: 0;
    }

    .carousel2 .list .item .content .title {
        font-size: 30px;
    }
}

/*Contacto*/
.container{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
}
.Contacto {
    justify-content: center;
    color: beige;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Nunito", serif;
}

.Ubicación {
    justify-content: center;
    color: beige;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: "Nunito", serif;
}

.Ubicación h3 {
    width: 500px;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-family: "Nunito", serif;
}

.maps {
    border-radius: 10px;
    border:10px solid #eee
}

.btn-wsp {
    display: inline-block;
    background-color: #25D366; /* color WhatsApp */
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-wsp:hover {
    background-color: #1ebe5c;
}

.instagram {
    display: inline-block;
    background-color: #d3259f; /* color WhatsApp */
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.divisor{
    width: 100%;
    height: 500px;
}
